<div class="eduex">
  <div id="edu">

    <div class="row">
      <!-- The Timeline -->
      <div class="abmheader">
        <h1>Education</h1>
        <a class="dload" href="cv.pdf" title="">
            Download my CV here
        </a>
      </div>
    </div>

      <!-- ------------- -->

    <div id="aboutme">
      <div id="aboutme3">
        <ul class="timeline">
          <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Le Wagon - Coding School</span>
                <span class="time-wrapper"><span class="time">04 - 07.2018</span></span>
              </div>
              <div class="desc"><i><a href="https://www.lewagon.com/" target="_blank">"Europe's Best Coding Bootcamp"</a></i></div>
            </div>
          </li>

          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">UC Berkeley</span>
                <span class="time-wrapper"><span class="time">10.2017 - 03.2018</span></span>
              </div>
              <div class="desc">Masther's thesis on the "<i><a href="Master's thesis.pdf" target="_blank">Influence of superplasticizers on ettringite formation for 3D printed concrete</a></i> under the supervision of <a href="https://www.ce.berkeley.edu/people/faculty/monteiro" target="_blank">Prof. Dr. P.J.M. Monteiro</a> and <a href="https://www.ethz.ch/content/specialinterest/baug/institute-ifb/physical-chemistry-of-building-materials/en/people/robert-flatt.html" target="_blank">Prof. Dr. R.J. Flatt</a> .</div>
            </div>
          </li>

          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">ETH Zürich - Master</span>
                <span class="time-wrapper"><span class="time">09.2015 - 03.2018</span></span>
              </div>
              <div class="desc"><a href="https://www.baug.ethz.ch/en/studies/civil-engineering/master.html" target="_blank">Master in Civil Engineering, MSc ETH</a>
                <p>
                Specialisation in <i><a href="http://www.ifb.ethz.ch/" target="_blank">Building Materials</a></i> and <i><a href="http://www.ibi.ethz.ch/en/" target="_blank">Construction and Infrastructure Management</a></i></div>
            </div>
          </li>

          <!-- Item 4 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">ETH Zürich - Bachelor</span>
                <span class="time-wrapper"><span class="time">09.2011 - 02.2015</span></span>
              </div>
              <div class="desc"><a href="https://www.baug.ethz.ch/en/studies/civil-engineering/bachelor.html" target="_blank">Bachelor in Civil Engineering, BSc ETH</a></div>
            </div>
          </li>

          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Schottengymnasium - Wien</span>
                <span class="time-wrapper"><span class="time">09.2010 - 09.2012</span></span>
              </div>
              <div class="desc">Matura in Mathematics, Descriptiv Geometry, Biology, English & German</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



<!-- --------------------- -->
<!-- Experience -->

  <div id="ex">
    <div class="row">
      <!-- The Timeline -->
      <div class="abmheader">
        <h1>Experience</h1>
      </div>
    </div>

      <!-- ------------- -->

    <div id="aboutme">
      <div id="aboutme3">
        <ul class="timeline">

          <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Ferro & Partner</span>
                <span class="time-wrapper"><span class="time">04 - 07.2018</span></span>
              </div>
              <div class="desc"><i><a href="https://www.lewagon.com/" target="_blank">"Europe's Best Coding Bootcamp"</a></i></div>
            </div>
          </li>

          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Dragages Singapore</span>
                <span class="time-wrapper"><span class="time">10.2017 - 03.2018</span></span>
              </div>
              <div class="desc">Masther's thesis on the "<i><a href="Master's thesis.pdf" target="_blank">Influence of superplasticizers on ettringite formation for 3D printed concrete</a></i> under the supervision of <a href="https://www.ce.berkeley.edu/people/faculty/monteiro" target="_blank">Prof. Dr. P.J.M. Monteiro</a> and <a href="https://www.ethz.ch/content/specialinterest/baug/institute-ifb/physical-chemistry-of-building-materials/en/people/robert-flatt.html" target="_blank">Prof. Dr. R.J. Flatt</a> .</div>
            </div>


          </li>

          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">ETH teacher's assistent</span>
                <span class="time-wrapper"><span class="time">09.2015 - 03.2018</span></span>
              </div>
              <div class="desc"></div>
            </div>
          </li>

          <!-- Item 4 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Austrian Armed Forces</span>
                <span class="time-wrapper"><span class="time">09.2011 - 02.2015</span></span>
              </div>
              <div class="desc"></div>
            </div>
          </li>

           <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">ATP architects engineers</span>
                <span class="time-wrapper"><span class="time">09.2010 - 09.2012</span></span>
              </div>
              <div class="desc"></div>
            </div>
          </li>

          <!-- Item 5 -->
          <!-- <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Harvard University</span>
                <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
              </div>
              <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>


