<div class="eduex">
  <div id="edu">

    <div class="row">
      <!-- The Timeline -->
      <div class="abmheader">
        <h1>Education</h1>
        <a class="dload" href="cv.pdf" title="">
            Download my CV here
        </a>
      </div>
    </div>

      <!-- ------------- -->

    <div id="aboutme">
      <div id="aboutme3">
        <ul class="timeline">
          <!-- Item 1 -->
          <li id="eduli">
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://www.lewagon.com/" class="ahead" target="_blank">Le Wagon, Berlin (DE)</a></span>
                <span class="time-wrapper"><span class="time">04. - 07.2018</span></span>
              </div>
              <div class="desc"><i>"Europe's Best Coding Bootcamp"</i></div>
            </div>
          </li>

          <!-- Item 2 -->
          <li id="eduli">
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://www.berkeley.edu/" class="ahead" target="_blank">UC Berkeley, California (US)</a></span>
                <span class="time-wrapper"><span class="time">10.2017 - 03.2018</span></span>
              </div>
              <div class="desc">Masther's thesis on the "<i><a href="Master's thesis.pdf" target="_blank">Influence of superplasticizers on ettringite formation for 3D printed concrete</a></i> under the supervision of <a href="https://www.ce.berkeley.edu/people/faculty/monteiro" target="_blank">Prof. Dr. P.J.M. Monteiro</a> and <a href="https://www.ethz.ch/content/specialinterest/baug/institute-ifb/physical-chemistry-of-building-materials/en/people/robert-flatt.html" target="_blank">Prof. Dr. R.J. Flatt</a> .</div>
            </div>
          </li>

          <!-- Item 3 -->
          <li id="eduli">
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://www.baug.ethz.ch/en/studies/civil-engineering/master.html" target="_blank" class="ahead">ETH Zürich - Master, (CH)</a></span>
                <span class="time-wrapper"><span class="time">09.2015 - 03.2018</span></span>
              </div>
              <div class="desc">Master in Civil Engineering, MSc ETH
                <p>
                Specialisation in <i><a href="http://www.ifb.ethz.ch/" target="_blank">Building Materials</a></i> and <i><a href="http://www.ibi.ethz.ch/en/" target="_blank">Construction and Infrastructure Management</a></i></div>
            </div>
          </li>
          <!-- Item 4 -->
          <li id="eduli">
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://www.baug.ethz.ch/en/studies/civil-engineering/bachelor.html" target="_blank" class="ahead">ETH Zürich - Bachelor, (CH)</a></span>
                <span class="time-wrapper"><span class="time">09.2011 - 02.2015</span></span>
              </div>
              <div class="desc">Bachelor in Civil Engineering, BSc ETH</div>
            </div>
          </li>

          <li id="eduli">
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag"><a href="http://www.schotten.wien/schottengymnasium/" class="ahead" target="_blank">Schottengym., Wien (AT)</a></span>
                <span class="time-wrapper"><span class="time">09.2010 - 09.2012</span></span>
              </div>
              <div class="desc">Matura in Mathematics, Descriptiv Geometry, Biology, English & German</div>
            </div>
          </li>

          <li id="eduli">
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://www.glenalmondcollege.co.uk/" class="ahead" target="_blank">Glenalmond College, (SCO)</a></span>
                <span class="time-wrapper"><span class="time">02.2009 - 06.2009</span></span>
              </div>
              <div class="desc">Player of the school’s tennis team.</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



<!-- --------------------- -->
<!-- Experience -->

  <div id="ex">
    <div class="row">
      <!-- The Timeline -->
      <div class="abmheader" id="abmh2">
        <h1>Experience</h1>
      </div>
    </div>

      <!-- ------------- -->

    <div id="aboutme">
      <div id="aboutme3">
        <ul class="timeline">

          <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag"><a href="http://www.ferro-partner.at/" class="ahead" target="_blank">Ferro & Partner, Wien (AT)</a></span>
                <span class="time-wrapper"><span class="time">04 - 07.2016</span></span>
              </div>
              <div class="desc"><i>Calculating reinforced concrete and steel constructions. Assistant of the founder.</i></div>
            </div>
          </li>

          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag"><a href="http://dragages.com.sg/" class="ahead" target="_blank">Dragages Singapore, (SG)</a></span>
                <span class="time-wrapper"><span class="time">06.2015 - 09.2015</span></span>
              </div>
              <div class="desc">Internship as a construction manager and site engineer on the <a href="http://www.singaporenewfutura.com/?gclid=CjwKCAjwzqPcBRAnEiwAzKRgS-x12yYT88u3d68nTfViqzvci6q6-Oz2-efYzrLClXbFPX7gNuEObBoChygQAvD_BwE" class="ahead" target="_blank">Project "New Futura”</a> .
                <ul>
                  <li>In charge of precast elements of two skyscrapers</li>
                  <li>Implementing and managing 7-day-cycle per level</li>
                </ul>
              </div>
            </div>


          </li>

          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">ETH Zürich, (CH)</span>
                <span class="time-wrapper"><span class="time">09.2014 - 02.2015</span></span>
              </div>
              <div class="desc">
              <strong>Teaching assistant in the department of fluid mechanics.</strong>
              <p>
              Taught 30 students in workshops and corrected written work. Explained qualitative concepts and underlying analyses.</div>
            </div>
          </li>

          <!-- Item 4 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Austrian Armed Forces, (AT)</span>
                <span class="time-wrapper"><span class="time">09.2010 - 10.2017</span></span>
              </div>
              <div class="desc">
                <p id="video"><a href="https://www.youtube.com/watch?v=T5Ww70_eAaw" class="ahead" target="_blank">See my video here</a></p>
                <ul>
                  <li>
                    Training to become officer of the alpine infantry. Currently Lieutenant.
                  </li>
                  <li>
                    Experience in leading an Infantery unit with 40 man
                  </li>
                </ul></div>
            </div>
          </li>

           <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://www.atp.ag/integrale-planung/" class="ahead" target="_blank">ATP architects engineers, (AT)</a></span>
                <span class="time-wrapper"><span class="time">07. - 08.2010</span></span>
              </div>
              <div class="desc">Architects assistant durint the development of an office building (Zepter Austria GmbH)</div>
            </div>
          </li>

          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag"><a href="https://www.rote-teufel.at/" target="_blank" class="ahead">Red Devils, Kitzbühel (AT)</a></span>
                <span class="time-wrapper"><span class="time">02.2009 - 03.2009</span></span>
              </div>
              <div class="desc">Private skiing instructor</div>
            </div>
          </li>

          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Glanzstoff, St. Pölten (AT)</span>
                <span class="time-wrapper"><span class="time">08.2007 - 09.2007</span></span>
              </div>
              <div class="desc">Internship in the production of viscous yarns</div>
            </div>
          </li>


        </ul>
      </div>
    </div>
  </div>
</div>


