<div class="row">
  <div class="homebox">
    <div class="hometext">
      <h3>Servus, I'm</h3>
      <p>______</p>
      <h1>Johannes Lohner, MSc ETH</h1>
<!--       <h2>Civil Engineer</h2> -->
    </div>
    <div>
      <%= image_tag "Me.png", alt: "Das bin ich", width: 400 %>
    </div>
  </div>
</div>
